.share-area { width: 750px; overflow: hidden; flex-direction: row; }
.share-box { flex: 1; height: 150px; justify-content: center; align-items: center; display: block; }
.share-img { width: 100px; height: 85px; margin: auto; }